<p id="notice"><%= notice %></p>

<p>
  <strong>Enroll no:</strong>
  <%= @student.enroll_no %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @student.date_of_birth %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @student.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @student.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @student.country %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @student.postcode %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @student.avatar %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student.status %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @student.deleted %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
